.actions
  = link_to 'Create New Deck', new_deck_path
  = link_to 'Create New Card', new_card_path

.decks
  - @decks.each do |deck|
    .deck
      %a{ href: deck_review_path(deck),class: 'button review' }
        REVIEW ONLY
      %a{ href: deck_path(deck), class: 'button all-cards' }
        ALL CARDS
      .description
        = "#{deck.name} (#{deck.cards.for_review.count}/#{deck.cards.count})"

      .button= link_to 'Edit Deck', edit_deck_path(deck)
      .button= link_to 'Edit Cards', deck_cards_path(deck)
